---
permalink: /feed/firehose.xml
eleventyExcludeFromCollections: true
layout: false
---
{% set siteUrl = metadata.url | baseUrl %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }} Firehose</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ '/feed/firehose.xml' | absUrl(siteUrl) }}" rel="self"/>
  <link href="{{ '/' | absUrl(siteUrl) }}"/>
  <updated>{{ page.date.toISOString() if page.date else "" }}</updated>
  <id>{{ '/' | absUrl(siteUrl) }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>

  {%- for post in collections.all | reverse %}
    {%- if post.url and post.url != permalink and post.data.title and loop.index0 < 100 %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ post.url | absUrl(siteUrl) }}"/>
      <updated>{{ post.date.toISOString() if post.date else page.date.toISOString() }}</updated>
      <id>{{ post.url | absUrl(siteUrl) }}</id>
      {# Gunakan truncate dulu untuk tes, kalau berhasil baru kita kembalikan ke full content #}
      <content type="html"><![CDATA[
        {{ post.templateContent | safe }}
      ]]></content>
    </entry>
    {%- endif %}
  {%- endfor %}
</feed>
